<h1>AgendaServicio#lista</h1>
<p>Find me in app/views/agenda_servicio/lista.html.erb</p>
<table id="servicios-table" data-source="<%= agenda_servicio_path(format: :json) %>">
  <thead>
  <tr>
    <th>Servicio</th>
    <th>Especialista</th>

    <th></th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>