<h1>Editing Criterio Tipo Servicio</h1>

<%= render 'form', criterio_tipo_servicio: @criterio_tipo_servicio %>

<%= link_to 'Show', @criterio_tipo_servicio %> |
<%= link_to 'Back', criterio_tipo_servicios_path %>
