<<<<<<< HEAD
<h1><%= @parametro.class.name %></h1>
=======
<br><br>
>>>>>>> 46d78a09a6d73b42ea989e8ff32ab2bd3293e157

<%= render 'parametros_select/form' %>

<%= link_to 'Atras', polymorphic_url(@parametro.class) %>