<h1>Editing Tipo Ubicacion</h1>

<%= render 'form', tipo_ubicacion: @tipo_ubicacion %>

<<<<<<< HEAD
<%= link_to 'Show', @tipo_ubicacion %> |
<%= link_to 'Back', tipo_ubicaciones_path %>
=======
>>>>>>> 46d78a09a6d73b42ea989e8ff32ab2bd3293e157
