<<<<<<< HEAD
<h1>New Tipo Ubicacion</h1>

<%= render 'form', tipo_ubicacion: @tipo_ubicacion %>

<%= link_to 'Back', tipo_ubicaciones_path %>
=======
<h1>Tipo Ubicacion</h1>

<%= render 'form', tipo_ubicacion: @tipo_ubicacion %>
>>>>>>> 46d78a09a6d73b42ea989e8ff32ab2bd3293e157
