<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%# @email %></h1>
    <p>
		Su cita ha sido registrada exitosamente para el dia <%= Cita.last.created_at %>

    </p>
  </body>
</html>
