<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Hola <%= @email %>!</h3>
<br>
<p>
	<%= @texto %>
</p>
<div>
  <%= @difusion.texto.html_safe %>
</div>

</body>
</html>
