<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Saludos!</h1>
    <p>
      Se ha registrado tu cuenta de usuario en el sistema Alice.
      <br>
      Sus datos de ingreso son los siguientes:
      <br>
      Usuario: <strong><%= @usuario.email %> </strong>
      <br>
      Clave: <strong>@clave</strong>
    </p>
  </body>
</html>
