<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_turno.descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_turno_path(@tipo_turno) %> |
<%= link_to 'Back', tipo_turnos_path %>
