<div class="wrapper wrapper-content animated fadeInRight" >
    <div class="row" style="background: transparent url('<%= image_path('dashboard.jpg')  %>')   no-repeat; background-size: cover; min-height: 685px; width: 100%;">
        <div class="col-lg-12">
            
        </div>
    </div>
</div>
