<p>
  <strong>Descripcion:</strong>
  <%= @grupo_sanguineo.descripcion %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @grupo_sanguineo.estatus %>
</p>

<%= link_to 'Edit', edit_grupo_sanguineo_path(@grupo_sanguineo) %> |
<%= link_to 'Back', grupo_sanguineos_path %>
