<h1>Editing Sector</h1>

<%= render 'form', sector: @sector %>
<<<<<<< HEAD

<%= link_to 'Show', @sector %> |
<%= link_to 'Back', sectores_path %>
=======
>>>>>>> 46d78a09a6d73b42ea989e8ff32ab2bd3293e157
