<<<<<<< HEAD
<h1>Editing Ubicacion</h1>

<%= render 'form', ubicacion: @ubicacion %>

<%= link_to 'Show', @ubicacion %> |
<%= link_to 'Back', ubicaciones_path %>
=======
<br><br>

<%= render 'form', ubicacion: @ubicacion %>
>>>>>>> 46d78a09a6d73b42ea989e8ff32ab2bd3293e157
