// Place all the styles related to the eventos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav.nav-tabs li{
	background: #354C9E none repeat scroll 0% 0%;
}
.skin-1 .nav-tabs > li > a{
	color: #FFFFFF;
}