    <div class="row border-bottom">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            </div>
            <% if usuario_signed_in? %>
            <ul class="nav navbar-top-links navbar-right">
              <li>
                    <div class="chip">
                        <%= image_tag "a6.jpg" , :style => " width: 20px; heigth: 20px;" %>
                         <%= current_usuario.email %>
                    </div>
                 </li>
                <li>
                    <%= link_to 'Cerrar Sesión', destroy_usuario_session_path, :class =>"fa fa-sign-out" %> 
                </li>
            </ul>
            <% end %>
        </nav>
    </div>